@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@200;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Abril Fatface', cursive;
font-family: 'Poppins', sans-serif;
}
.navbar-collapse{
  position: absolute;
  right: 15px;
  
}
.navbar-collapse a{
  text-decoration: none;
  color:black;
  margin-left: 20px;
}

@media only screen and ( max-width: 768px ){
  .navbar-collapse{
    position:absolute;
    top:61px;
    right:50%;
    transform:translate(50%);
    width: 100%;
    height:100vh;
    background: white;
    
    
    
  }
  .navbar-collapse a{
    text-align: center;
  }
  
}